.user {
  background-color: white;
  padding: 10px;
  border-radius: 25px;
}

.user-profile {
  display: flex;
  align-items: center;
}

.user-profile img {
  width: 5rem;
  height: 5rem;
}

.user-info {
  margin-left: 10px;
}

.user-details {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: bisque;
  padding: 10px;
  border-radius: 15px;
}

.user-details span {
  font-size: 2rem;
  font-weight: 900;
}
